* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #3feee6;
}

#container {
  border-radius: 8px;
  max-width: 350px;
  margin: 2rem auto;
  background: #1f2833;
}

.calculator-screen {
  width: 100%;
  text-align: right;
  background-color: #1f2833;
  color: #feffff;
  height: 8rem;
  font-weight: lighter;
  font-size: 2.5rem;
  padding-top: 2rem;
  padding-right: 0.8rem;
  border: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#numbers {
  padding: 0.8rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

button {
  background: #4e4e50;
  border: none;
  padding: 20px;
  color: #feffff;
  font-size: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 8px 2px 0 rgba(0, 0, 0, 0.25);
  outline: none;
  transition: box-shadow 0.1s ease-in;
}

button:active {
  box-shadow: none;
}

.enter {
  grid-row: 4/6;
  grid-column-start: 4;
  background: linear-gradient(
    0deg,
    rgba(11, 76, 77, 1) 38%,
    rgba(63, 238, 230, 1) 81%
  );
}

.clear {
  grid-column: 1/3;
  background-color: #e85a4f;
}

.operation,
.negative {
  background-color: #116466;
}
